// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.title {
    font-size:70px;
}

.btn_index {
    height: 50px;
    width: 200px;
    font-size:20px;
}

#pseudo {
    font-size: 50px;
}